.galeria {
  background: #141414;
}

.galeria-tremo {
  padding: 20px 120px 10px 20px;
  position: relative;
}
.galeria-tambores {
  padding: 15px 20px 10px 100px;
  position: relative;
}
.galeria-bloco {
  padding: 15px 120px 50px 20px;
  position: relative;
}

.galeria-tremo p {
  color: #dbdbdb;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
}
.galeria-tambores p {
  color: #dbdbdb;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
}
.galeria-bloco p {
  color: #dbdbdb;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
}

/* .galeria-tremo::before {
  content: "";
  display: block;
  width: 70px;
  height: 8px;
  background: linear-gradient(to right, #faa8e3, #9b3278);
  position: absolute;
  right: 80px;
  top: 150px;
}
.galeria-tambores::before {
  content: "";
  display: block;
  width: 70px;
  height: 8px;
  background: linear-gradient(to right, #faa8e3, #9b3278);
  position: relative;
  right: 35px;
  top: 150px;
}
.galeria-bloco::before {
  content: "";
  display: block;
  width: 70px;
  height: 8px;
  background: linear-gradient(to left, #faa8e3, #9b3278);
  position: absolute;
  right: 80px;
  top: 150px;
} */


@media (max-width: 600px) {
  .galeria-tremo p {
    font-size: 1.25rem;
  }
  .galeria-tremo {
    padding: 10px 80px 5px 10px;
  }
  .galeria-tambores p {
    font-size: 1.25rem;
  }
  .galeria-tambores {
    padding: 5px 10px 5px 80px;
  }
  .galeria-bloco p {
    font-size: 1.25rem;
  }
  .galeria-bloco {
    padding: 5px 80px 20px 10px;
  }

  @media (max-width: 400px) {
    .galeria-tremo p {
      font-size: 1rem;
      padding: 10px;
    }
    .galeria-tambores p {
      font-size: 1rem;
      padding: 10px;
    }
    .galeria-bloco p {
      font-size: 1rem;
      padding: 10px;
    }
    .galeria-tremo {
    padding: 0px 60px 2px 10px;
    }
    .galeria-tambores {
    padding: 0px 10px 2px 60px;
    }
    .galeria-bloco {
    padding: 5px 60px 20px 10px;
  }
}
