.introducao {
  max-width: 1200px;
  padding: 40px 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  background: #141414;
}
.introducao h1 {
  font-size: 4.5rem;
  line-height: 80px;
  line-height: 5rem;
  line-height: 1.125;
  /* 4.5 x 16 x 1.125 = 81px wtf? */
  margin-bottom: 30px;
  position: relative;
  color: #dbdbdb;
  z-index: 0;
}
.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../imgs/detalhedecoperfil.svg) no-repeat center;
  position: absolute;
  top: -29px;
  left: -61px;
  z-index: -1;
}
.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3.2rem;
  }
  .introducao h1::before {
    width: 40px;
    height: 40px;
    top: 2px;
    left: -7px;
    border-radius: 5px;
    background: url(../imgs/detalhedecoperfil.svg) no-repeat center;
  }
  .introducao p {
    font-size: 1.3rem;
  }
}
@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }
  .introducao h1 {
    font-size: 2.2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 30px;
    top: -2px;
    left: -8px;
    border-radius: 5px;
  }
  .introducao p {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .introducao h1 {
    font-size: 1.9rem;
  }
  .introducao h1::before {
    width: 27px;
    height: 27px;
    top: -2px;
    left: -8px;
    border-radius: 5px;
  }
  .introducao {
    gap: 40px;
  }
}
@media (max-width: 500px) {
  .introducao h1 {
    font-size: 1.4rem;
  }
  .introducao h1::before {
    width: 22px;
    height: 22px;
    top: -3px;
    left: -7px;
    border-radius: 4px;
  }
  .introducao {
    gap: 40px;
  }
  .introducao p {
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
}
